<beans xmlns:security="http://www.springframework.org/schema/security"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security 
						http://www.springframework.org/schema/security/spring-security.xsd">
	<security:http security="none" pattern="/login.jsp" />
	
	<security:http use-expressions="true" auto-config="true">
		<security:intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
		<security:session-management>
			<security:concurrency-control max-sessions="4"
				error-if-maximum-exceeded="true" />
		</security:session-management>
		<security:csrf disabled="false" />
		<security:form-login 
			authentication-failure-url="/error.jsp"
			authentication-success-handler-ref="authenticationSuccessHandlerImpl" />
		<security:logout logout-success-url="/logout.jsp" logout-url="logout"
			invalidate-session="true" delete-cookies="JSESSIONID" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider user-service-ref="loginService">
		</security:authentication-provider>
	</security:authentication-manager>
	<bean id="loginService" class="org.com.muggle.service.LoginUserService" />

	<!-- 认证成功调用 主要实现AuthenticationSuccessHandler这个类的onAuthenticationSuccess方法 -->
	<bean id="authenticationSuccessHandlerImpl"
		class="org.com.muggle.util.AuthenticationSuccessHandlerImpl">
		<property name="url" value="/home/main" />
	</bean>
	<!-- 认证失败调用 主要实现AuthenticationFailureHandler类的onAuthenticationFailure -->

	<!-- <bean id="authenticationFailureHandlerImpl"
		class="com.**.utils.springsecurity.AuthenticationFailureHandlerImpl">
		<property name="errorUrl" value="/error.jsp" />
	</bean> -->
</beans> 